/* ------ structure  ------ */
/* ------ logo       ------ */
/* ------ navigation ------ */
/* ------ typography ------ */

/* ------- structure ------ */

header {
  text-align: center;
  height: 100px;
  background-color: #ebebeb;
  margin: 0px;
}

body {
  background-color: #ebebeb;
  font-family: 'Droid Serif', serif;
  font-family: 'Droid Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
}

.wrapper{
  width: 600px;
  margin: auto;
}

h1 {
  margin: 0;
  font-family: 'Droid Sans';
  background-color: #ebebeb;
  color: blue;
}

h2 {
  font-family: 'Droid Sans';
  background-color: #ebebeb;
}
.head-shot {
  width: 200px;
  margin-top: 65px;
}
.head-shot-container {
  text-align:center;
}

.logo {
  width: 200px;
  margin-top: 65px;

}

footer {
  text-align: center;
  background-color: #FAFAD2;

}
